---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        title: "Desarrollador Web Independiente",
        description: "Prestacion de varios servicios de desarrollo a empresas, con el fin de aprender y crecer mas en mis habilidades.",
        aptitutes:"API Rest, Bases de datos, Logica programable, Enfasis en Backend, Desarrollo Frontend, Trabajo en equipo. ",
        date: "Dic 2023 - Presente"
    },
    {   
        title: "Contador Independiente",
        description: "Prestacion de varios servicios contables a empresas.",
        aptitutes:"Responsabilidad, Analisis Financiero, Cumplimiento de obligaciones fiscales, Cumplimiento fechas de entrega, Comunicaciones estrategicas.",
        date: "Abr 2023 - Jun 2024 "
    },
    {
        title: "Analista de Impuestos",
        description: "Fanalca S.A · Jornada completa.",
        aptitutes:"Gestión del tiempo, Análisis de datos, Manejo de la presión, Responsabilidad, Trabajo en equipo.",
        date: "Ago 2021 - Mar 2023 "
    },
    {
        title: "Asistente de Impuestos",
        description: "Colombina · Jornada completa.",
        aptitutes:"Análisis de datos, Gestión eficiente del tiempo, Manejo de la presión, Responsabilidad, Trabajo en equipo.",
        date: "Ene 2021 - Jun 2021"
    }
]
---

<ol class="relative border-s border-gray-200 ml-3">                  
        {
            EXPERIENCE.map((experience) => (
                <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
                </li>
            ))
        }
    </li>
</ol>