---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        title: "Crecimiento profesional",
        description: "Tomé la decisión de retirarme de trabajar en Fanalca S.A porque empecé a estudiar Desarrollo Web en Platzi y luego hice un diplomado con una universidad de España (U de Cataluña) que tiene sede en Bogotá. Seguí de la mano de Platzi, para luego finalmente ingresar al Bootcamp FullStack en SoyHenry que acabo de terminar, con el deseo de empezar a trabajar en este nuevo campo que me tiene motivado para aportar un grano de arena en soluciones.",
        date: "mar. 2023 - jun. 2024 · 1 año 4 meses"
    },
    {
        title: "Analista de Impuestos",
        description: "Fanalca S.A · Jornada completa. Gestión del tiempo, Análisis de datos y 3 aptitudes más.",
        date: "ago. 2021 - mar. 2023 · 1 año 8 meses"
    },
    {
        title: "Asistente de Impuestos",
        description: "Colombina · Jornada completa. Análisis de datos, Gestión eficiente del tiempo y 3 aptitudes más.",
        date: "ene. 2021 - jun. 2021 · 6 meses"
    }
]
---

<ol class="relative border-s border-gray-200 ml-3">                  
        {
            EXPERIENCE.map((experience) => (
                <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
                </li>
            ))
        }
    </li>
</ol>