---

import '@fontsource-variable/onest';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
	description: string;
}

const { title } = Astro.props;
const { description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image" href="projects//picon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="background-overlay"></div>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
		
	}
	html {
		font-family: 'Onest Variable',system-ui, sans-serif;
		color: white;
		scroll-behavior: smooth;
	}

	body {
		background: #050505;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		position: relative; 
		margin: 0; 
	}

	.background-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: radial-gradient(#ffffff33 1px, #00091d 1px);
		background-size: 20px 20px;
		z-index: -1;
	}

  .text-papodev {
  color: #ff5733; /* Ajusta el color según tus necesidades */
  white-space: nowrap; /* Evita que el texto se divida en dos líneas */
}

	.about-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.card {
  flex: 1 1 calc(33.333% - 1rem); /* Ajusta el ancho de cada tarjeta */
  max-width: 300px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card a {
  text-decoration: none;
}

.card-img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-content {
  padding: 1rem;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.card-text {
  color: gray;
  font-size: 1rem;
}

/* Dark mode styles */
.dark .card {
  background-color: #2d3748;
  border-color: #4a5568;
}

.dark .card-title {
  color: white;
}

.dark .card-text {
  color: #a0aec0;
}

/* Responsive styles */
@media (max-width: 900px) {
  .card {
    flex: 1 1 calc(50% - 1rem); /* Dos tarjetas por fila en pantallas medianas */
  }
}

@media (max-width: 600px) {
  .card {
    flex: 1 1 100%; /* Una tarjeta por fila en pantallas pequeñas */
    max-width: 100%;
  }
}
	.animated {
  display: inline-block;
  animation: move 18s ease-in-out infinite;
  position: relative;
}

@keyframes move {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(480px); /* Ajusta la distancia según tus necesidades */
  }
}

	@media (max-width: 600px) {
  .card {
    max-width: 100%;
  }
}

	@media (prefers-reduce-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
		
	}
	@media (max-width: 768px) {
  .animated {
    animation-duration: 12s; /* Reducir la duración en pantallas más pequeñas */
	animation-name: move-small; /* Posiblemente una animación más simple o estática */
  }
}
  @keyframes move-small {
    from, to {
      transform: translateX(0);
    }
  }

	
</style>
