---

import '@fontsource-variable/onest';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
	description: string;
}

const { title } = Astro.props;
const { description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="background-overlay"></div>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
		
	}
	html {
		font-family: 'Onest Variable',system-ui, sans-serif;
		color: white;
		scroll-behavior: smooth;
	}

	body {
		background: #050505;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		position: relative; 
		margin: 0; 
	}

	.background-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: radial-gradient(#ffffff33 1px, #00091d 1px);
		background-size: 20px 20px;
		z-index: -1;
	}

	@media (prefers-reduce-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
	
</style>
